<mat-tab-group animationDuration="0ms">
  <mat-tab label="All">
    <ng-template mat-tab-label>
      <mat-icon>image</mat-icon>
      <p #abc> All Images </p>
    </ng-template>
    <ul class="list" *ngIf="images;else second">
      <cdk-virtual-scroll-viewport style="height: 500px" itemSize="90">
        <ng-container *cdkVirtualFor="let img of images">
          <app-image [image]="img" [isTypeFav]="false" (imageClicked)="imageClicked($event, img)"></app-image>
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </ul>
    <ng-template #second>
      <div class="spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Favorite">
    <ng-template mat-tab-label>
      <mat-icon>favorite</mat-icon>
      <p> Favorite </p>
    </ng-template>
    <ul class="list">
      <cdk-virtual-scroll-viewport style="height: 500px" itemSize="90">
        <ng-container *cdkVirtualFor="let imgFav of images">
          <app-image *ngIf="imgFav.favorite" [isTypeFav]="true" [image]="imgFav" (imageClicked)="imageClicked($event, imgFav)" (imageRemove)="remove($event)"></app-image>
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </ul>
  </mat-tab>
</mat-tab-group>


