ul {
  color: #333;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  padding: 25px;
  cursor: pointer;
  background: ghostwhite;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;

}
.clicked {
  background: #c0c0c6 !important;
}

.center {
  text-align: center;
}

img {
  max-width: 200px;
}

p {
  margin: 14px;
}
