ul {
  color: #333;
  list-style: none;
  margin: 0;
  padding: 0;
}


.clicked {
  background: #c0c0c6 !important;
}

.center {
  text-align: center;
}



p {
  margin: 14px;
}


.spinner {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 100px;
}
