.preview {
  background: ghostwhite;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.metadata {
  text-align: center;
  height: 48px;
}

img {
  width: 90%;
}

